[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
scikit-learn= "*"
scipy= "*"
matplotlib= "*"
seaborn= "*"
six= "*"
h5py= "*"
PyYAML= "*"
Keras= "*"
statsmodels= "*"
FlowIO= "*"
tqdm = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
